.reorderControl {
    position: absolute;
    top: 50%;
    left: -60px;
    transform: translateY(-50%) !important;
}

.skeleton {
    position: absolute;
    inset: 0;
    z-index: 10000;

    display: flex;
    align-items: center;
    justify-content: center;
}