.reorderControl {
    position: absolute;
    top: 50%;
    left: -60px;
    transform: translateY(-50%);
}

.regenerateControl {
    position: absolute;
    top: 0;
    left: -60px;
}

.addSectionTop {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%) !important;
    z-index: 100;
}

.addSectionBottom {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%) !important;
    z-index: 100;
}

.skeleton {
    position: absolute;
    inset: 0;
    z-index: 10000;
}