
.galleryItem {
    padding: 16px;

    border-radius: 8px;
    border: 1px solid var(--mantine-color-gray-5);

    transition: all .2s ease-in-out;
}

.galleryItem:hover {
    border-color: var(--mantine-color-violet-5);

    box-shadow: 0 0 0 0px #fff, 0 0 0 calc(1px + 0px) rgba(67,48,192, 1), 0 4px 6px -1px rgba(0,0,0,.1);
}